body {
    background-color: rgb(199, 220, 220);
    padding: 10px;
    font-family: 'Courier New', Courier, monospace ;
}
table {
    padding: 10px;
    border-radius: 2px;
    align-items: center;
}
